* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
background: linear-gradient(#43cea2, #185a9d);
min height: 100vh;
display: flex;

}

#champions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  border: 4px solid #000428;
  width: 320px;
}

h1{
    background:#de6262;
}

p {
    background: #ffb88c;
}
